@media (prefers-reduced-motion:reduce){*,:before,:after{transition:none!important;animation:none!important}}body button.s{background:0 0;padding:.25rem;font-size:.5em;position:fixed;bottom:1rem;right:1rem}
